<IfModule mod_php7.c>
php_flag engine off
</IfModule>
<IfModule mod_php.c>
php_flag engine off
</IfModule>
<FilesMatch "\.(?i:jpe?g|png|gif|webp)$">
    Allow from all
</FilesMatch>
<FilesMatch "\.(?!(?i:jpe?g|png|gif|webp)$)[^.]+$">
    Deny from all
</FilesMatch>
